body {
  background-color: #000 !important;
  color: #00FFAB !important;
}
.card {
  background-color: #0a0a0a !important;
  border: 1px solid #00FFAB !important;
  border-radius: 12px;
}
.btn-primary {
  background-color: #00FFAB !important;
  border: none !important;
  color: #000 !important;
  font-weight: bold;
}